body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html{
font-size: 62.5%;
box-sizing: border-box;
}

*{
padding: 0;
margin: 0;
box-sizing: inherit;
}


nav{
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 50px;
  font-size: 18px;
  margin-bottom: 100px;
}

nav a {
  text-decoration: none;
  color: white;
}

#form-profile{
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

#form-profile img{
  height: 33px;
  width: 33px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  top: -5px;
}

#form-upload{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 33px;
}

#form-upload button{
  width: 133px;
  padding: 5px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

#form-upload button:hover{
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

#form-upload button:hover:active{
  transform: translate(2px, 2px);
}

#avatar-upload{
  margin-bottom: 10px;
}

#inner-form label{
  font-size: 16px;
}

#delete-profile button{
  background-color: red;
  border: none;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

#delete-profile button:hover{
  cursor: pointer;
  color: black;
}

#posts-list{
  font-size: 16px;
}

#posts-list img{
  height: 100px;
  width: 100px;
}

input{
  margin: 0 5px;
}